<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="text-center">
          <h1>School Students Login</h1>
          <h5>Feel free to login.</h5>
          <hr>
        </div>
        <form #studentLoginForm="ngForm" (ngSubmit)="logIn(studentLoginForm.value)">
          <div class="mb-3">
            <input type="email" ngModel name="email" typeof="text" placeholder="email" class="form-control" id="email">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
          </div>
          <div class="mb-3">
            <input type="password" ngModel name="password" placeholder="password" typeof="text"
                   class="form-control" id="exampleInputPassword1">
          </div>
          <button type="submit" class="btn btn-primary">Login</button>
        </form>
        <a routerLink="/signup"> First time user. Click here to Signup.</a>
      </div>
    </div>
  </div>
</div>
