<!-- signup.component.html -->

<app-header></app-header>

<div class="signup-container">
  <div class="card">
    <div class="text-center">
      <h1>Signup to create Account </h1>
      <h5>By signing up, you will receive the promotion and information <br> about the school events..️</h5>
      <hr>
    </div>

    <form #studentForm="ngForm" (ngSubmit)="signUp(studentForm.value)" class="signup-form">
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input ngModel name="firstName" placeholder="First Name" type="text" class="form-control" id="firstName" required>
      </div>

      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input ngModel name="lastName" placeholder="Last Name" type="text" class="form-control" id="lastName" required>
      </div>

      <div class="form-group">
        <label for="email">Email address</label>
        <input ngModel name="email" placeholder="Email Address" type="email" class="form-control" id="email" required>
      </div>

      <div class="form-group">
        <label for="phone">Phone Number</label>
        <input ngModel name="phone" placeholder="Phone Number" type="phone" class="form-control" id="phone">
      </div>

      <div class="form-group">
        <label for="address">Address</label>
        <input ngModel name="address" placeholder="Address" type="text" class="form-control" id="address">
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input ngModel name="password" placeholder="Password" type="password" class="form-control" id="password" required>
      </div>

      <button type="submit" class="btn-primary">SignUp</button>
    </form>

    <p class="login-link">
      <a routerLink="/login"> Already have an account. Login Instead.</a>
    </p>
  </div>
</div>

<app-footer></app-footer>
